<div class="sg-cookie-optin-box">
	<span class="sg-cookie-optin-box-close-button">✕</span>
	<strong class="sg-cookie-optin-box-header">{{textEntries.header}}</strong>
	<p class="sg-cookie-optin-box-description">{{textEntries.description}}</p>

	<ul class="sg-cookie-optin-box-cookie-list">
		{{#cookieGroups}}
			<li class="sg-cookie-optin-box-cookie-list-item">
				<input class="sg-cookie-optin-checkbox"
					   id="sg-cookie-optin-{{groupName}}"
					   type="checkbox"
					   name="cookies[]"
					   value="{{groupName}}"
					   {{#required}}checked="1"{{/required}}
					   {{#required}}disabled="1"{{/required}}>
				<label class="sg-cookie-optin-checkbox-label" for="sg-cookie-optin-{{groupName}}">
					<span>{{label}}</span>
				</label>
			</li>
		{{/cookieGroups}}
	</ul>

	<div class="sg-cookie-optin-box-button">
		<button class="sg-cookie-optin-box-button-accept-all">{{textEntries.accept_all_text}}</button>
		<button class="sg-cookie-optin-box-button-accept-specific">{{textEntries.accept_specific_text}}</button>
		<button class="sg-cookie-optin-box-button-accept-essential">{{textEntries.accept_essential_text}}</button>
	</div>

	<ul class="sg-cookie-optin-box-cookie-detail-list">
		{{#cookieGroups}}
			<li class="sg-cookie-optin-box-cookie-detail-list-item">
				<strong class="sg-cookie-optin-box-cookie-detail-header">{{label}}</strong>
				<p class="sg-cookie-optin-box-cookie-detail-description">{{description}}</p>

				<div class="sg-cookie-optin-box-cookie-detail-sublist">
					<div class="table-responsive">
						<table>
							<tbody>
								{{#cookieData}}
									{{#index}}<tr class="divider"><td colspan="2">&nbsp;</td></tr>{{/index}}
									<tr>
										<th>{{textEntries.cookie_name_text}}</th>
										<td>{{Name}}</td>
									</tr>
									<tr>
										<th>{{textEntries.cookie_provider_text}}</th>
										<td>{{Provider}}</td>
									</tr>
									<tr>
										<th>{{textEntries.cookie_purpose_text}}</th>
										<td>{{Purpose}}</td>
									</tr>
									<tr>
										<th>{{textEntries.cookie_lifetime_text}}</th>
										<td>{{Lifetime}}</td>
									</tr>
								{{/cookieData}}
							</tbody>
						</table>
					</div>
				</div>

				{{#cookieData}}
					{{^index}}<a class="sg-cookie-optin-box-sublist-open-more-link" href="#">{{textEntries.extend_table_link_text}}</a>{{/index}}
				{{/cookieData}}
			</li>
		{{/cookieGroups}}
	</ul>

	<div class="sg-cookie-optin-box-open-more">
		<a class="sg-cookie-optin-box-open-more-link" href="#">{{textEntries.extend_box_link_text}}</a>
	</div>

	<div class="sg-cookie-optin-box-footer">
		<div class="sg-cookie-optin-box-copyright">
			<a class="sg-cookie-optin-box-copyright-link"
			   href="https://www.sgalinski.de/typo3-produkte-webentwicklung/sgalinski-cookie-optin/"
			   target="_blank">
				Powered by<br>sgalinski Cookie Opt In
			</a>
		</div>

		<div class="sg-cookie-optin-box-footer-links">
			{{#footerLinks}}
				{{#index}}
					<span class="sg-cookie-optin-box-footer-divider"> | </span>
				{{/index}}
				<a class="sg-cookie-optin-box-footer-link" href="{{url}}" target="_blank">{{name}}</a>
			{{/footerLinks}}
		</div>
	</div>
</div>
