<!--googleoff: index-->
<div class="sg-cookie-optin-box sg-cookie-optin-box-new">
	<div class="sg-cookie-optin-box-new-upper">
		{{#settings.show_button_close}}
			<span class="sg-cookie-optin-box-close-button">✕</span>
		{{/settings.show_button_close}}

		<strong class="sg-cookie-optin-box-header">{{{textEntries.header}}}</strong>
		<p class="sg-cookie-optin-box-description">{{{textEntries.description}}}</p>
	</div>

	<div class="sg-cookie-optin-box-new-lower">
		<ul class="sg-cookie-optin-box-cookie-list">
			{{#cookieGroups}}
				<li class="sg-cookie-optin-box-cookie-list-item">
					<label >
						<input class="sg-cookie-optin-checkbox"
						   type="checkbox"
						   name="cookies[]"
						   value="{{groupName}}"
						   {{#required}}checked="1"{{/required}}
						   {{#required}}disabled="1"{{/required}}>
						<span class="sg-cookie-optin-checkbox-label">{{{label}}}</span>
					</label>

					<p class="sg-cookie-optin-checkbox-description">{{{description}}}</p>

					<div class="sg-cookie-optin-box-cookie-detail-sublist">
						{{#cookieData}}
							<div class="sg-cookie-optin-box-cookie-detail-sublist-item {{#pseudo}}sg-cookie-optin-box-cookie-detail-sublist-item-pseudo{{/pseudo}}">
								{{^pseudo}}
									<table>
										<tbody>
											<tr>
												<th>{{{textEntries.cookie_name_text}}}</th>
												<td>{{{Name}}}</td>
											</tr>
											<tr>
												<th>{{{textEntries.cookie_provider_text}}}</th>
												<td>{{{Provider}}}</td>
											</tr>
											<tr>
												<th>{{{textEntries.cookie_lifetime_text}}}</th>
												<td>{{{Lifetime}}}</td>
											</tr>
											<tr>
												<th>{{{textEntries.cookie_purpose_text}}}</th>
												<td class="sg-cookie-optin-box-table-reason">{{{Purpose}}}</td>
											</tr>
										</tbody>
									</table>
								{{/pseudo}}
							</div>
						{{/cookieData}}
					</div>
				</li>
			{{/cookieGroups}}
		</ul>

		<a class="sg-cookie-optin-box-sublist-open-more-link" href="#">{{{textEntries.extend_table_link_text}}}</a>

		<div class="sg-cookie-optin-box-button">
			<button class="sg-cookie-optin-box-button-accept-essential">{{{textEntries.accept_essential_text}}}</button>
			<button class="sg-cookie-optin-box-button-accept-specific">{{{textEntries.accept_specific_text}}}</button>
			<button class="sg-cookie-optin-box-button-accept-all">{{{textEntries.accept_all_text}}}</button>
		</div>

		<div class="sg-cookie-optin-box-footer">
			<div class="sg-cookie-optin-box-footer-links">
				<div class="sg-cookie-optin-box-copyright{{#settings.disable_powered_by}} sg-cookie-optin-box-copyright-link-hidden{{/settings.disable_powered_by}}">
					<a class="sg-cookie-optin-box-copyright-link"
					   href="https://www.sgalinski.de/typo3-produkte-webentwicklung/sgalinski-cookie-optin/"
					   target="_blank">
						Powered by sgalinski Cookie Opt In
					</a>
					{{#footerLinks.0}} |{{/footerLinks.0}}
				</div>

				{{#footerLinks}}
					{{#index}}
						<span class="sg-cookie-optin-box-footer-divider"> | </span>
					{{/index}}

					<a class="sg-cookie-optin-box-footer-link" href="{{url}}" target="_blank">{{name}}</a>
				{{/footerLinks}}
			</div>
		</div>
	</div>
</div>
<!--googleon: index-->
