{namespace sg=SGalinski\SgCookieOptin\ViewHelpers}

<f:if condition="{invalidKey}">
	<f:then>
		<a href="{f:translate(key: 'backend.buyLicense.url')}" target="_bĺank" class="btn btn-default btn-sm btn-danger btn-sm">
			<f:translate key="backend.buyLicense" />
		</a>

		<f:if condition="{showDemoButton}">
			<f:link.action class="btn btn-default btn-sm btn-info" action="activateDemoMode">
				<f:translate key="backend.activateDemoMode" />
			</f:link.action>
		</f:if>
	</f:then>
	<f:else>
		<a href="{f:translate(key: 'backend.productInformation.url')}" target="_bĺank" class="btn btn-default btn-sm">
			<f:translate key="backend.productInformation" />
		</a>
	</f:else>
</f:if>

<a href="{f:translate(key: 'backend.documentation.url')}" target="_blank" class="btn btn-default btn-sm">
	<f:translate key="backend.documentation" />
</a>

<f:if condition="{sg:backend.isVersionHigherThan(version: '9.0.0')} && {pageUid}">
	<f:link.action class="btn btn-default btn-sm" action="uploadJson">
		<f:translate key="backend.importConfig" />
	</f:link.action>
	<f:link.action class="btn btn-default btn-sm" action="uploadJson">
		<f:translate key="backend.exportConfig" />
	</f:link.action>
</f:if>
