{namespace sg=SGalinski\SgCookieOptin\ViewHelpers}

<f:layout name="Default" />

<f:section name="content">
	<f:flashMessages />

	<f:if condition="{isSiteRoot}">
		<f:then>
			<h1><f:translate key="backend.moduleHeader" /></h1>
			<p><f:translate key="backend.moduleDescription" /></p>

			<f:if condition="{optins}">
				<div class="panel panel-default recordlist">
					<div class="table-fit">
						<table data-table="tx_sgcookieoptin_domain_model_optin" class="table table-striped table-hover">
							<tbody>
							<f:for each="{optins}" as="optin">
								<tr data-uid="{optin.uid}">
									<td nowrap="nowrap" class="col-icon">
										<f:format.raw><sg:backend.icon table="tx_sgcookieoptin_domain_model_optin" row="{optin}" /></f:format.raw>
									</td>

									<td nowrap="nowrap">
										<a href="#" onclick="{sg:backend.editOnClick(table: 'tx_sgcookieoptin_domain_model_optin', uid: optin.uid)}">
											<span>{optin.header}</span>
										</a>
									</td>

									<td nowrap="nowrap" class="col-control">
										<f:format.raw><sg:backend.control table="tx_sgcookieoptin_domain_model_optin" row="{optin}" /></f:format.raw>
									</td>
								</tr>
							</f:for>
							</tbody>
						</table>
					</div>
				</div>
			</f:if>
		</f:then>
		<f:else>
			<f:if condition="{pages}">
				<div class="row">
					<h3>{f:translate(key:'backend.no_site_root')}</h3>

					<div class="panel panel-default recordlist">
						<div class="table-fit">
							<table data-table="pages" class="table table-striped table-hover">
								<tbody>
								<f:for each="{pages}" as="page">
									<tr data-uid="{page.pid}">
										<td nowrap="nowrap" class="col-title">
											<f:link.action action="index" additionalParams="{id: page.uid}">
												<sg:backend.icon table="pages" row="{page}" clickMenu="0" />
												{page._thePathFull}
											</f:link.action>
										</td>
									</tr>
								</f:for>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</f:if>
		</f:else>
	</f:if>
</f:section>
