<f:be.container>
	<div class="module" data-module-id="" data-module-name="">
		<div class="module-docheader t3js-module-docheader">
			<div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation">
				<div class="module-docheader-bar-column-right">
					<span class="typo3-docheader-pagePath">
						<f:if condition="{typo3Version} < 9000000">
							<f:then>
								<f:translate key="LLL:EXT:lang/Resources/Private/Language/locallang_core.xlf:labels.path" />: <f:format.raw>{docHeader.metaInformation.path}</f:format.raw>
							</f:then>
							<f:else>
								<f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.path" />: <f:format.raw>{docHeader.metaInformation.path}</f:format.raw>
							</f:else>
						</f:if>
					</span>
					<f:format.raw>{docHeader.metaInformation.recordInformation}</f:format.raw>
				</div>
			</div>

			<div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons">
				<div class="module-docheader-bar-column-left">
					<f:if condition="{invalidKey}">
						<f:then>
							<a href="https://www.sgalinski.de/typo3-produkte-webentwicklung/sgalinski-cookie-optin/" target="_bĺank" class="btn btn-default btn-sm btn-danger">
								<f:translate key="backend.buyLicense" />
							</a>

							<f:if condition="{showDemoButton}">
								<f:link.action class="btn btn-default btn-sm btn-info" action="activateDemoMode">
									<f:translate key="backend.activateDemoMode" />
								</f:link.action>
							</f:if>
						</f:then>
						<f:else>
							<a href="https://www.sgalinski.de/typo3-produkte-webentwicklung/sgalinski-cookie-optin/" target="_bĺank" class="btn btn-default">
								<f:translate key="backend.productInformation" />
							</a>
						</f:else>
					</f:if>
				</div>

				<div class="module-docheader-bar-column-right">
					<f:render partial="ButtonBar" arguments="{buttons: docHeader.buttons.right}" />
				</div>
			</div>
		</div>
	</div>
	<div id="typo3-docbody">
		<div id="typo3-inner-docbody">
			<f:render section="content" />
		</div>
	</div>
</f:be.container>
