/*
 * Copyright notice
 *
 * (c) sgalinski Internet Services (https://www.sgalinski.de)
 *
 * Commercial license
 * You can buy a license key on the following site:
 * https://www.sgalinski.de/en/typo3-produkte-webentwicklung/sgalinski-cookie-optin/
 */

/* This file includes basic styles for the banner templates */

#SgCookieOptin.sg-cookie-optin-banner-wrapper {
	position: static;
	width: 0;
	height: 0;
	z-index: auto;
}

#SgCookieOptin .sg-cookie-optin-banner .sg-cookie-optin-box {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	margin: 0;
	padding: 10px;
	max-width: 100%;
	border-radius: 0;
	z-index: 999999;
	background-color: ###banner_color_box###;
}

#SgCookieOptin .sg-cookie-optin-banner.sg-cookie-optin-banner-bottom .sg-cookie-optin-box {
	bottom: 0;
	top: auto;
}

#SgCookieOptin .sg-cookie-optin-banner .sg-cookie-optin-banner-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#SgCookieOptin .sg-cookie-optin-banner .sg-cookie-optin-banner-content .sg-cookie-optin-banner-description {
	padding: 10px;
	color: ###banner_color_text###;
}

#SgCookieOptin .sg-cookie-optin-banner .sg-cookie-optin-banner-content .sg-cookie-optin-banner-description a {
	color: ###banner_color_link_text###;
}

#SgCookieOptin .sg-cookie-optin-banner .sg-cookie-optin-banner-content .sg-cookie-optin-box-footer-link {
	font-weight: 800;
}

#SgCookieOptin .sg-cookie-optin-banner .sg-cookie-optin-banner-content .sg-cookie-optin-banner-button {
	display: flex;
}

#SgCookieOptin .sg-cookie-optin-banner .sg-cookie-optin-banner-content .sg-cookie-optin-banner-button-settings,
#SgCookieOptin .sg-cookie-optin-banner .sg-cookie-optin-banner-content .sg-cookie-optin-banner-button-accept {
	display: inline-block;
	padding: 10px;
	margin: 10px;
	width: auto;
	min-width: fit-content;
}

@media only screen and (max-width: 600px) {
	#SgCookieOptin .sg-cookie-optin-banner .sg-cookie-optin-banner-content {
		display: block;
	}

	#SgCookieOptin .sg-cookie-optin-banner .sg-cookie-optin-banner-content .sg-cookie-optin-banner-button {
		justify-content: left;
	}

	#SgCookieOptin .sg-cookie-optin-banner .sg-cookie-optin-banner-content .sg-cookie-optin-banner-button-settings,
	#SgCookieOptin .sg-cookie-optin-banner .sg-cookie-optin-banner-content .sg-cookie-optin-banner-button-accept {
		margin: 10px 10px 0 0;
	}
}
