{namespace sg=SGalinski\SgCookieOptin\ViewHelpers}

<f:layout name="Default"/>

<f:section name="content">
	<f:if condition="{isSiteRoot}">
		<f:then>
			<f:flashMessages/>
			<form id="consent-statistics-form">
				<div class="row">
					<div class="col-xs-12 col-12 col-md-3">
						<div class="form-group">
							<label for="from_date"><f:translate key="backend.statistics.filter.from"/>: </label>
							<input class="form-control" type="date" id="from_date" name="from_date"/>
						</div>
					</div>
					<div class="col-xs-12 col-12 col-md-3">
						<div class="form-group">
							<label for="to_date"><f:translate key="backend.statistics.filter.to"/>: </label>
							<input class="form-control" type="date" id="to_date" name="to_date"/>
						</div>
					</div>
					<div class="col-xs-12 col-12 col-md-3">
						<div class="form-group">
							<label for="user_hash">
								<f:translate key="backend.consent.grid.user_hash"/>:
							</label>
							<f:form.textfield class="reset-me form-control" property="user_hash" id="user_hash"/>
						</div>
					</div>
					<div class="col-xs-12 col-12 col-md-3">
						<div class="form-group">
							<label for="item_identifier">
								<f:translate key='backend.consent.grid.item_name'/>:
							</label>
							<select id="item_identifier" class="form-control">
								<option value="">
									<f:translate key='backend.consent.form.item_name.all'/>
								</option>
								<f:for each="{identifiers}" as="identifier">
									<option value="{identifier}">{identifier}</option>
								</f:for>
							</select>
						</div>
					</div>

					<div class="col-md-12">
						<div class="form-group">
							<button type="button" id="consent-statistics-submit" class="filter-btn btn btn-success">
								<f:translate key="backend.consent.form.filter"/>
							</button>
						</div>
					</div>
				</div>

				<div id="statistics-no-data-found">
					<f:translate key="backend.statistics.noDataFound"/>
				</div>

				<div class="table-responsive consent-statistics-grid" id="consent-statistics-grid">
					<table class="table table-hover">
						<thead>
						<tr>
							<th>
								<f:translate key="backend.consent.grid.time"/>
							</th>
							<th>
								<f:translate key="backend.consent.grid.user_hash"/>
							</th>
							<th>
								<f:translate key="backend.consent.grid.item_name"/>
							</th>
							<th>
								<f:translate key="backend.consent.grid.value"/>
							</th>
						</tr>
						</thead>
						<tbody>

						</tbody>
						<tbody>
						<tr>
							<td colspan="4" class="pagination-table-cell">
								<ul class="pagination" id="consent-statistics-grid-page-select">
								</ul>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</form>
		</f:then>
		<f:else>
			<f:flashMessages/>
			<f:if condition="{pages}">
				<f:then>
					<h3>{f:translate(key:'backend.no_site_root')}</h3>

					<div class="panel panel-default recordlist">
						<div class="table-fit">
							<table data-table="pages" class="table table-striped table-hover">
								<tbody>
								<f:for each="{pages}" as="page">
									<tr data-uid="{page.pid}">
										<td nowrap="nowrap" class="col-title">
											<f:link.action action="index" additionalParams="{id: page.uid}">
												<sg:backend.icon table="pages" row="{page}" clickMenu="0"/>
												{page._thePathFull}
											</f:link.action>
										</td>
									</tr>
								</f:for>
								</tbody>
							</table>
						</div>
					</div>
				</f:then>
				<f:else>
					<div class="alert alert-warning" role="alert">
						{f:translate(key:'backend.no_site_root_found')}
					</div>
				</f:else>
			</f:if>
		</f:else>
	</f:if>
</f:section>
