/*
 * Copyright notice
 *
 * (c) sgalinski Internet Services (https://www.sgalinski.de)
 *
 * Commercial license
 * You can buy a license key on the following site:
 * https://www.sgalinski.de/en/typo3-produkte-webentwicklung/sgalinski-cookie-optin/
 */

/* This file includes adapted styles for this template */

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new {
	margin: 0;
	padding: 0;
	max-width: 1500px;
	border-radius: 0;
}

/* Save Confirmation Notification */
.sg-cookie-optin-save-confirmation {
	max-width: 1460px;
	margin: 0 0 5px;
	padding: 10px 20px;
}

/* Upper Part */
#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-new-upper {
	padding: 20px 70px;
	background-color: ###color_full_box###;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-new-upper .sg-cookie-optin-box-header {
	color: ###color_full_headline###;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-new-upper .sg-cookie-optin-box-description {
	color: ###color_full_text###;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-new-upper .sg-cookie-optin-box-close-button {
	color: ###color_full_button_close_text###;
	background-color: ###color_full_button_close###;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-new-upper .sg-cookie-optin-box-close-button:hover {
	background-color: ###color_full_button_close_hover###;
}

/* Lower Part */
#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-new-lower {
	padding: 0 70px;
	background-color: ###color_box###;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-new-lower label,
#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-new-lower a,
#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-new-lower li,
#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-new-lower p {
	color: ###color_text###;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-new-lower .sg-cookie-optin-box-footer {
	padding: 5px 0 20px;
	border: 0;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-new-lower .sg-cookie-optin-box-footer .sg-cookie-optin-box-footer-links {
	float: none;
	text-align: right;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-cookie-list {
	padding: 0 0 15px;
	margin: 0 0 15px;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid ###color_list###;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item {
	padding: 2% 2% 0 0;
	flex: 0 0 23%;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item .sg-cookie-optin-checkbox + .sg-cookie-optin-checkbox-label::before {
	border-radius: 0;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item .sg-cookie-optin-checkbox-label {
	font-size: 18px;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item .sg-cookie-optin-checkbox-label span {
	vertical-align: middle;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item .sg-cookie-optin-checkbox-description {
	margin: 10px 0 0 0;
}

@-webkit-keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -30%, 0);
		transform: translate3d(0, -30%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -30%, 0);
		transform: translate3d(0, -30%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes fadeInDownInvisible {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -30%, 0);
		transform: translate3d(0, -30%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInDownInvisible {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -30%, 0);
		transform: translate3d(0, -30%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new.sg-cookie-optin-visible .sg-cookie-optin-box-cookie-list {
	animation: .6s ease-in fadeInDown;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new.sg-cookie-optin-invisible .sg-cookie-optin-box-cookie-list {
	animation: .3s ease-in fadeInDownInvisible;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new.sg-cookie-optin-visible .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item {
	padding: 20px 0 0 0;
	margin: 25px 0 0 0;
	border-top: 1px solid ###color_list###;
	flex: 0 0 100%;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new.sg-cookie-optin-visible .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item:first-of-type {
	border: 0;
	margin: 0;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new.sg-cookie-optin-visible .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item .sg-cookie-optin-box-cookie-detail-sublist {
	display: flex;
	height: auto;
	flex-wrap: wrap;
	justify-content: space-between;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-cookie-detail-sublist .sg-cookie-optin-box-cookie-detail-sublist-item {
	margin: 15px 0 0 0;
	flex: 0 0 31%;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-cookie-detail-sublist table {
	margin: 0;
	border: 1px solid ###color_list###;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-sublist-open-more-link {
	transform: translateY(12px);
	display: inline-block;
	float: left;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-sublist-open-more-link::after {
	margin: 0 0 0 10px;
	transform: translateY(5px);

	content: '';
	background: transparent url("data:image/svg+xml,%3csvg fill='%23###color_text###' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath d='M504 256c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zM273 369.9l135.5-135.5c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L256 285.1 154.4 183.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L239 369.9c9.4 9.4 24.6 9.4 34 0z'/%3e%3c/svg%3e") no-repeat 50% 50%;
	background-size: contain;
	width: 20px;
	height: 20px;
	display: inline-block;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new.sg-cookie-optin-visible .sg-cookie-optin-box-sublist-open-more-link::after {
	transform: rotate(180deg) translateY(-5px);
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-button {
	display: flex;
	justify-content: flex-end;
}

#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-button button {
	display: inline-block;
	padding: 10px;
	margin: 0 0 10px 10px;
	width: auto;
	min-width: fit-content;
	border-radius: 0;
}

/* Content Element */
.sg-cookie-optin-plugin #SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-new-upper {
	padding: 20px 20px;
}

.sg-cookie-optin-plugin #SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-new-lower {
	padding: 0 20px;
}

.sg-cookie-optin-plugin #SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item,
.sg-cookie-optin-plugin #SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-cookie-detail-sublist .sg-cookie-optin-box-cookie-detail-sublist-item {
	flex: 0 0 48%;
}

.sg-cookie-optin-plugin #SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new.sg-cookie-optin-visible .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item {
	flex: 0 0 100%;
}

.sg-cookie-optin-plugin #SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-sublist-open-more-link {
	padding: 0 0 10px 0;
	display: block;
	float: none;
	transform: none;
}

.sg-cookie-optin-plugin #SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-button {
	flex-direction: column;
}

.sg-cookie-optin-plugin #SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-button button {
	margin: 0 0 10px;
	display: block;
}

/* Responsive */

@media only screen and (max-width: 1250px) {
	#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item {
		flex: 0 0 31%;
	}
}

@media only screen and (max-width: 1050px) {
	#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item,
	#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-cookie-detail-sublist .sg-cookie-optin-box-cookie-detail-sublist-item {
		flex: 0 0 48%;
	}

	#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-sublist-open-more-link {
		padding: 0 0 10px 0;
		display: block;
		float: none;
		transform: none;
	}

	#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-button {
		flex-direction: column-reverse;
	}

	#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-button button {
		margin: 0 0 10px;
		display: block;
	}
}

@media only screen and (max-width: 850px) {
	#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-new-upper {
		padding: 20px 20px;
	}

	#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-new-lower {
		padding: 0 20px;
	}
}

@media only screen and (max-width: 750px) {
	#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-cookie-detail-sublist .sg-cookie-optin-box-cookie-detail-sublist-item,
	.sg-cookie-optin-plugin #SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-cookie-detail-sublist .sg-cookie-optin-box-cookie-detail-sublist-item {
		flex: 0 0 100%;
	}

	#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-cookie-detail-sublist .sg-cookie-optin-box-cookie-detail-sublist-item-pseudo {
		display: none;
	}

	#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item,
	.sg-cookie-optin-plugin #SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item {
		padding: 20px 0 0 0;
		margin: 25px 0 0 0;
		border-top: 1px solid ###color_list###;
		flex: 0 0 100%;
	}

	#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item:first-of-type,
	.sg-cookie-optin-plugin #SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item:first-of-type {
		border: 0;
		margin: 0;
	}

	#SgCookieOptin .sg-cookie-optin-box.sg-cookie-optin-box-new .sg-cookie-optin-box-new-lower .sg-cookie-optin-box-footer .sg-cookie-optin-box-copyright {
		display: block;
	}
}
