/*
 * Copyright notice
 *
 * (c) sgalinski Internet Services (https://www.sgalinski.de)
 *
 * Commercial license
 * You can buy a license key on the following site:
 * https://www.sgalinski.de/en/typo3-produkte-webentwicklung/sgalinski-cookie-optin/
 */


#SgCookieOptin,
#SgCookieOptin * table,
#SgCookieOptin * tbody,
#SgCookieOptin * tr,
#SgCookieOptin * th,
#SgCookieOptin * td,
#SgCookieOptin * div,
#SgCookieOptin * strong,
#SgCookieOptin * p,
#SgCookieOptin * a,
#SgCookieOptin * ul,
#SgCookieOptin * li,
#SgCookieOptin * button,
#SgCookieOptin * input,
#SgCookieOptin * label {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	background: none;
	color: ###COLOR_TEXT###;
	line-height: 1.6;
}

.sg-cookie-optin-iframe-consent,
.sg-cookie-optin-iframe-consent * div,
.sg-cookie-optin-iframe-consent * button,
.sg-cookie-optin-iframe-consent * a {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	background: none;
	color: ###COLOR_TEXT###;
	line-height: 1.6;
}

#SgCookieOptin {
	display: flex;
	justify-content: center;
	align-items: baseline;
	height: 100%;
	width: 100%;

	position: fixed;
	left: 0;
	top: 0;

	z-index: 999999;
	outline: 0;

	background: rgba(0,0,0,0.6);
}

#SgCookieOptin .sg-cookie-optin-box {
	position: relative;
	overflow: auto;

	/* Hide the Scrollbar in IE */
	-ms-overflow-style: none;

	/* Hide the Scrollbar in FF */
	scrollbar-width: none;

	padding: 10px 20px 20px;
	margin: 25px 0;

	max-width: 500px;
	max-height: 95%;

	background: ###COLOR_BOX###;
	border-radius: 5px;

	font-size: 14px;
}

#SgCookieOptin .sg-cookie-optin-box::-webkit-scrollbar {
	display: none;
}

/* Header */
#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-close-button {
	padding: 4px 11px;
	position: absolute;
	top: 0;
	right: 0;

	font-weight: 800;
	font-size: 22px;
	cursor: pointer;

	color: ###COLOR_BUTTON_CLOSE_TEXT###;
	background-color: ###COLOR_BUTTON_CLOSE###;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-close-button:hover {
	background-color: ###COLOR_BUTTON_CLOSE_HOVER###;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-header,
#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-description {
	display: block;
	margin: 0 0 10px 0;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-header {
	font-size: 22px;
	color: ###COLOR_HEADLINE###;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-description {
	font-size: 14px;
	line-height: 16px;
}

/* Cookie List */
#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-list {
	display: block;
	list-style: none;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item {
	display: inline-block;
	padding: 0 10px 10px 0;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item .sg-cookie-optin-checkbox {
	display: none;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item .sg-cookie-optin-checkbox + .sg-cookie-optin-checkbox-label::before {
	display: block;
	margin: 0 5px 0 0;
	width: 20px;
	height: 20px;

	content: "";
	float: left;

	border-radius: 5px;
	border: 2px solid ###COLOR_CHECKBOX###;

	background-color: #FFF;

	cursor: pointer;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item .sg-cookie-optin-checkbox:checked + .sg-cookie-optin-checkbox-label::before {
	box-shadow: inset 0 0 0 3px #FFF;
	background-color: ###COLOR_CHECKBOX###;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item .sg-cookie-optin-checkbox:disabled + .sg-cookie-optin-checkbox-label::before {
	box-shadow: inset 0 0 0 3px #FFF;
	border-color: ###COLOR_CHECKBOX_REQUIRED###;
	background-color: ###COLOR_CHECKBOX_REQUIRED###;

	cursor: default;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item .sg-cookie-optin-checkbox:disabled + .sg-cookie-optin-checkbox-label {
	cursor: default;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-list .sg-cookie-optin-box-cookie-list-item .sg-cookie-optin-checkbox-label {
	cursor: pointer;
}

/* Buttons */
#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-button .sg-cookie-optin-box-button-accept-all,
#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-button .sg-cookie-optin-box-button-accept-specific,
#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-button .sg-cookie-optin-box-button-accept-essential {
	display: block;
	width: 100%;
	cursor: pointer;

	padding: 10px 0;
	margin: 0 0 10px 0;

	color: ###COLOR_BUTTON_ALL_TEXT###;
	font-size: 16px;
	text-align: center;

	background-color: ###COLOR_BUTTON_ALL###;

	border-radius: 5px;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-button .sg-cookie-optin-box-button-accept-specific {
	color: ###COLOR_BUTTON_SPECIFIC_TEXT###;
	background-color: ###COLOR_BUTTON_SPECIFIC###;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-button .sg-cookie-optin-box-button-accept-essential {
	color: ###COLOR_BUTTON_ESSENTIAL_TEXT###;
	background-color: ###COLOR_BUTTON_ESSENTIAL###;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-button .sg-cookie-optin-box-button-accept-all:hover {
	background-color: ###COLOR_BUTTON_ALL_HOVER###;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-button .sg-cookie-optin-box-button-accept-specific:hover {
	background-color: ###COLOR_BUTTON_SPECIFIC_HOVER###;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-button .sg-cookie-optin-box-button-accept-essential:hover {
	background-color: ###COLOR_BUTTON_ESSENTIAL_HOVER###;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-button .sg-cookie-optin-box-flash-message {
	padding: 0 0 10px;
}

/* Open More List */
#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-detail-list {
	max-height: 0;
	overflow: hidden;

	list-style: none;

	-moz-transition: max-height .5s ease-in-out;
	-o-transition: max-height .5s ease-in-out;
	-webkit-transition: max-height .5s ease-in-out;
	transition: max-height .5s ease-in-out;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-detail-list::-webkit-scrollbar {
	display: none;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-detail-list.visible {
	padding: 10px 0 0 0;
	border-top: 1px solid ###COLOR_LIST###;
	max-height: 2000px;
	overflow-y: auto;

	/* Hide the Scrollbar in IE */
	-ms-overflow-style: none;

	/* Hide the Scrollbar in FF */
	scrollbar-width: none;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-detail-list .sg-cookie-optin-box-cookie-detail-list-item {
	margin: 0 0 10px 0;
	padding: 10px;

	border-radius: 5px;
	background-color: ###COLOR_LIST###;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-detail-list .sg-cookie-optin-box-cookie-detail-list-item a {
	display: block;
	margin: 10px 0 0 0;

	text-align: center;
	color: ###COLOR_LIST_TEXT###;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-detail-list .sg-cookie-optin-box-cookie-detail-header,
#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-detail-list .sg-cookie-optin-box-cookie-detail-description {
	display: block;
	margin: 0 0 10px 0;

	color: ###COLOR_LIST_TEXT###;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-detail-list .sg-cookie-optin-box-cookie-detail-header {
	font-size: 18px;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-detail-list .sg-cookie-optin-box-cookie-detail-description {
	font-size: 14px;
	line-height: 16px;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-open-more {
	padding: 0 0 10px;
	text-align: center;
}

/* Footer */
#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-footer {
	padding: 10px 0 0;
	border-top: 1px solid ###COLOR_LIST###;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-footer .sg-cookie-optin-box-copyright {
	display: inline-block;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-footer .sg-cookie-optin-box-footer-links {
	float: right;
}

/* Sub table (Cookie list) */
#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-detail-sublist {
	max-height: 0;
	overflow: hidden;
	list-style: none;

	-moz-transition: max-height .5s ease-in-out;
	-o-transition: max-height .5s ease-in-out;
	-webkit-transition: max-height .5s ease-in-out;
	transition: max-height .5s ease-in-out;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-detail-sublist::-webkit-scrollbar {
	display: none;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-detail-sublist.visible {
	max-height: 1000px;
	overflow-y: auto;

	/* Hide the Scrollbar in IE */
	-ms-overflow-style: none;

	/* Hide the Scrollbar in FF */
	scrollbar-width: none;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-detail-sublist table {
	margin: 0 0 10px 0;
	width: 100%;
	background-color: ###COLOR_TABLE###;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-detail-sublist table th,
#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-detail-sublist table td {
	padding: 10px;
	vertical-align: middle;
	border-bottom: 1px solid ###COLOR_LIST###;
	color: ###COLOR_TABLE_DATA_TEXT###;
}

#SgCookieOptin .sg-cookie-optin-box .sg-cookie-optin-box-cookie-detail-sublist table th {
	font-weight: 600;
	color: ###COLOR_TABLE_HEADER_TEXT###;
}

/* iFrame consent box */
.sg-cookie-optin-iframe-consent {
	background-color: ###IFRAME_COLOR_CONSENT_BOX_BACKGROUND###;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.sg-cookie-optin-iframe-consent button {
	display: block;

	margin: 50% auto 0;
	padding: 15px;

	color: ###IFRAME_COLOR_BUTTON_LOAD_ONE_TEXT###;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	border: none;

	background-color: ###IFRAME_COLOR_BUTTON_LOAD_ONE###;
}

.sg-cookie-optin-iframe-consent button:hover {
	background-color: ###IFRAME_COLOR_BUTTON_LOAD_ONE_HOVER###;
}

.sg-cookie-optin-iframe-consent a {
	margin: 0 auto 50%;
	padding: 10px 0 0;

	color: ###IFRAME_COLOR_OPEN_SETTINGS###;
	cursor: pointer;
	font-size: 16px;
	text-align: center;
}
