/*
 * Copyright notice
 *
 * (c) sgalinski Internet Services (https://www.sgalinski.de)
 *
 * Commercial license
 * You can buy a license key on the following site:
 * https://www.sgalinski.de/en/typo3-produkte-webentwicklung/sgalinski-cookie-optin/
 */

/* This file includes basic styles for each template */

#SgCookieOptin,
#SgCookieOptin * table,
#SgCookieOptin * tbody,
#SgCookieOptin * tr,
#SgCookieOptin * th,
#SgCookieOptin * td,
#SgCookieOptin * div,
#SgCookieOptin * strong,
#SgCookieOptin * p,
#SgCookieOptin * a,
#SgCookieOptin * ul,
#SgCookieOptin * li,
#SgCookieOptin * button,
#SgCookieOptin * input,
#SgCookieOptin * label {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	background: none;
	color: ###color_text###;
	line-height: 1.6;
}

#SgCookieOptin {
	display: flex;
	justify-content: center;
	align-items: baseline;
	height: 100%;
	width: 100%;

	position: fixed;
	left: 0;
	top: 0;

	z-index: 999999;
	outline: 0;

	background: rgba(0,0,0,0.6);
}
