.consent-statistics-container {
	display: flex;
	flex-direction: column;
}

.consent-statistics-controls {
	display: flex;
	justify-content: space-between;
}

.consent-statistics-controls-date {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 200px;
	line-height: 240%;
}

.consent-statistics-controls-date-container {
	display: flex;
	align-items: baseline;
}

.consent-statistics-controls-date-container label {
	width: 80px;
}

.consent-statistics-controls-filters-container {
	display: flex;
	align-items: baseline;
}

.consent-statistics-controls-filters-container label {
	width: 100px;
}


.consent-statistics-controls-filters {
	display: flex;
	width: 50%;
	flex-direction: column;
	justify-content: space-between;
}

.consent-green {
	color: #038203;
	font-size: 20px;
}

.consent-red {
	color: #8E0909;
	font-size: 20px;
}

#consent-statistics-submit{
	width: max-content;
}

.consent-statistics-chart-div-container {
	width: 50%;
}

#consent-statistics-charts-container {
	display: flex;
	flex-wrap: wrap;
}

#consent-statistics-charts-container canvas {
	margin-bottom: 25px;
}
